header {
  text-align: center !important;
  background-color: grey;
  color: white;
}

.city {
  align-content: center !important;
  margin-top: 50px;
}

.cityList {
  height: 400px;
  width: 300px;
  border: black solid 1px;
}

#list {
  list-style: none;
  justify-content: center;
}

.forecast {
  text-align: center !important;
  margin-top: 50px;
}
